@model IEnumerable<RecAgency.Entities.Vacancy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Ваши вакансии</h2>

<table class="grid" border="1">
    <tr>
        <th></th>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Responsibility
        </th>
        <th>
            Requirements
        </th>
        <th>
            Conditions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Id.ToString(), "Edit", new { item.Id })
            </td>
            <td>
                @Html.ActionLink(item.Id.ToString(), "getApplicant", new { item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conditions)
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Employer"))
                {
                    @Html.Hidden("Id", item.Id)
                    <input type="submit" value="Delete" />
                }
            </td>

        </tr>
    }

</table>
<p>@Html.ActionLink("Add a new vacancy", "Create")</p>