@{
    ViewBag.Title = "Index";
}

<h2>Meneger office</h2>

<div>


    @using (Html.BeginForm())
    {
        <table border="1">
            <thead><tr><td></td><td>Date</td><td>Speciality</td><td>Education</td><td>ScopeOfWork</td><td>Salary</td><td>City</td><td>UserId</td><td></td></tr></thead>
            <tbody>
                @Html.Action("ListResume", new { Controller = "Meneger" })
            </tbody>
        </table>
        <p>@Html.ActionLink("Add a new resume", "CreateResume", new { Controller = "Meneger" })</p>
        <br />
        <table border="1">
            <thead><tr><td></td><td>Title</td><td>Responsibility</td><td>Requirements</td><td>Conditions</td><td>UserId</td><td></td></tr></thead>
            <tbody>
                @Html.Action("ListVacancy", new { Controller = "Meneger" })
            </tbody>
        </table>
        <p>@Html.ActionLink("Add a new vacancy", "CreateVacancy", new { Controller = "Meneger" })</p>
        
    <p>Выберите номер вакансии: @Html.DropDownList("Vacancy")
    <br />
       Выберите номер резюме: @Html.DropDownList("Resume") </p>
    <input type="submit" value="Save" />
    } 

</div>

