@{
    ViewBag.Title = "Hello, Meneger!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
            <p>
                Welcome in our RecAgency!
            </p>
        </div>
    </section>
}
<ol class="round">

    <body>
        <div>
            @using (Html.BeginForm())
            {
                <table border="1">
                    <thead><tr><td></td><td>Date</td><td>Speciality</td><td>Education</td><td>ScopeOfWork</td><td>Salary</td><td>City</td><td>UserId</td><td></td></tr></thead>
                    <tbody>
                        @Html.Action("ListResume")
                    </tbody>
                </table>
                <p>@Html.ActionLink("Add a new resume", "CreateResume")</p>
                <br />
                <table border="1">
                    <thead><tr><td></td><td>Title</td><td>Responsibility</td><td>Requirements</td><td>Conditions</td><td>UserId</td><td></td></tr></thead>
                    <tbody>
                        @Html.Action("ListVacancy")
                    </tbody>
                </table>
                <p>@Html.ActionLink("Add a new vacancy", "CreateVacancy")</p>
            }
        </div>
        <div>



        </div>
    </body>

</ol>