@model IEnumerable<RecAgency.Entities.Vacancy>

@{
    Layout = null;
}

@foreach (var item in Model) {
    <tr>
        <td>@Html.ActionLink(item.Id.ToString(), "EditVacancy", new { Controller = "Meneger", vacancyId = item.Id })</td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsibility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conditions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @using (Html.BeginForm("DeleteVacancy", "Meneger"))
            {
                @Html.Hidden("Id", item.Id)
                <input type="submit" value="DeleteVacancy" />
            }
        </td>

    </tr>
}

